.show{
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

.hide {
  display: none;
}

.dropdown{
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
}

.dropdown:hover{
  cursor: pointer;
}

.priceItem{
  width: 140px;
  padding: 15px;
  background-color: #495867;
  justify-content: center;
  color: white;
  font-size: 17px;
}

.priceItem:hover{
  background-color: gray;
  color: white;
}

.selectedPrice {
  margin-top: 10px;
  width: 140px;
  font-size: 17px;
  padding: 15px;
  background-color: rgb(26, 23, 23);
  color: white;

}