.requestList-container {

  .request-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    .cardRow {
      width: 80vh;
      max-width: 700px;
      margin: 0;
    }
  }


}