


.cardRow {
  display: flex;
  align-items: center;
  height: 50px;
}

.distanceFilter {
  margin-top: 10px;
}

.request-container {
  padding-bottom: 0;
  max-width: 850px;
  padding: 0;

  .start-address,
  .end-address {
    font-weight: 500;
    color: #555;
  }

  .card-container {
    display: flex;
    align-items: center;
  }

  
  .tripCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 0 5px 15px 0 rgba(0,0,0, .25);
    max-width: 800px;
    height: 170px;
    

    &:hover {
      cursor: pointer;
      box-shadow: 0 5px 15px 5px rgba(67, 175, 116, 0.288);

    }

    .request-card {
      padding-bottom: 0;
    }


    .trip-price {
      font-weight: 600;
      padding: 0;
      height: 40px;
      color: #333;

    }

    .btn-container {
      margin: 0;
      padding: 0;
      height: 40px;
      width: 60px;
    }
    .accept-btn {
      font-weight: 600;
      color:#1E90FF;
      background-color: #fff;
      border: 2px solid#1E90FF;
      width: 100px;
      height: 50px;

      &:hover {
        background-color:#1e8fff49;
      }
    }

    .confirmed-badge {
      font-size: 20px;
      margin: 0;
      padding: 0;
    }
  }

  .created-at {
    font-size: 0.7em;
    margin: 3em 1em 0 1em;
  }

}
